@use '../../../shared/styles/variables' as *;

.transactions {
  h2 {
    color: $color-accent;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

    th, td {
      border-bottom: 1px solid #333;
      padding: 0.8rem;
      text-align: left;
    }

    th {
      color: $color-accent;
    }

    tr:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  .danger {
    background-color: $color-danger;
  }
}
