@use '../../../shared/styles/variables' as *;

// Estilos de formulario
.auth-form {
  max-width: 400px;
  margin: 5rem auto;
  background-color: $color-bg-card;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: $shadow-card;
  text-align: left;

  h2 {
    text-align: center;
    color: $color-accent;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    label {
      margin-top: 1rem;
      font-weight: 500;
    }

    input, select, textarea {
      background-color: $color-bg;
      color: $color-text;
      border: 1px solid #444;
      border-radius: 6px;
      padding: 0.6rem;
      margin-top: 0.3rem;
    }

    button {
      margin-top: 1.5rem;
    }
  }
}
