@use 'sass:color';
@use '../../shared/styles/variables' as *;

.dashboard {
  h2 {
    color: $color-accent;
  }

  .stats {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;

    .card {
      flex: 1;
      min-width: 180px;
      background-color: $color-bg-card;
      border-radius: 10px;
      padding: 1rem;
      text-align: center;
      box-shadow: $shadow-card;

      h3 {
        color: color.scale($color-accent, $lightness: 10%);
      }

      p {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }

  .charts {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;

    .chart {
      flex: 1;
      min-height: 250px;
      background-color: $color-bg-card;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #777;
    }
  }
}
