@use '../../shared/styles/variables' as *;

.footer {
  background-color: $color-bg-card;
  color: $color-text;
  text-align: center;
  padding: 0.75rem;
  font-size: 0.85rem;
  box-shadow: $shadow-card;
}
